* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  padding: 1em 0 0;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 74px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.left a {
  padding: 12px 10px 6px;
}

.left a:hover {
  background-color: #04879DB2;
  align-items: center;
  border-radius: 4px;
}

.center img {
  height: 50px;
  width: auto;
}

.right img {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

.left, .center, .right {
  display: flex;
  flex-wrap: nowrap;
  width: 33.3333%;
  align-items: center;
}

.left {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.right a {
  display: none;
}

/*Hamburger*/
#expanded {
  display: none;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 28px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #1B7685;
}

#menuToggle input {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  background: #1B7685;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(52deg) translate(-2px, -1px);
  background: #00054D;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-52deg) translate(0, -1px);
}

#menu {
  position: absolute;
  height: 300px;
  width: 250px;
  text-align: left;
  margin: 28px 0 0 -20px;
  padding: 24px 0 50px 60px;
  background: #fafafa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}
/* end Hamburger*/

.content {
  width: 100%;
  height: auto;
  margin-top: 58px;
}

.main {
  position: relative;
}

.Search {
  position: absolute;
  width: 70%;
  height: 56px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #1B7685;
  border-radius: 15px;
}

.Search img {
  height: 100%;
  width: auto;
}

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
}

.fill {
  object-fit: cover;
}

img fill {
  width: 100%;
}

.cardimg {
  margin-top: 22%;
  width: 80%;
  aspect-ratio: 100/56;
  overflow: hidden;
  padding: 0 10px;
}

.cardtext {
  width: 75%;
  height: auto;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  aspect-ratio: 90/100;
}

.card1, .card3 {
  background-color: #1B7685;
}

.card2, .card4 {
  background-color: #fdfdfd;
}

.footer {
  display: flex;
  background-color: #1B7685;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.upper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-bottom: 2px solid #012D7A;
}

.leftF, .centerF, .rightF {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.lower {
  display: flex;
  justify-content: space-between;
}

.footer img {
  height: 30px;
  width: auto;
}

.rightF img {
  width: 24px;
  height: 24px;
}

/*Typography*/
body {
  font-family: 'Gotham', 'Josefin Sans', 'Montserrat', sans-serif;
  font-style: normal;
  line-height: 1.3;
  text-align: center;
}

h2 {
  color: #1B7685;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.0025em;
}

h3 {
  color: #1B7685;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.0025em;
}

.card1 h3 {
  color: #ffffff;
}

.card3 h3 {
  color: #ffffff;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.002em;
  color: #FFFFFF;
}

p1 {
  font-family: 'Lato', 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: Left;
  /* color: #00054D; */
}

p3 {
  font-family: 'Lato', 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  text-align: Left;
  /* color: #00054D; */
}

a {
  color: #00054D;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
}

.right a {
  color: #1B7685;
  Font size: 12px;
  text-align: right;
  padding: 5px;
}

.footer a {
  color: #ffffff;
}
/*end Typography*/

@media screen and (min-width: 600px) {
  .left, .right {
    width: 40%;
  }

  .left a,
  .right a {
    display: block;
    width: 40%;
  }

  .center {
    width: 20%;
  }

  #expanded {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-right: 12px;
  }

  #menuToggle {
    display: none;
  }

  .Search {
    width: 60%;
    height: 62px;
  }

  .intro {
    padding: 40px;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    width: 50%;
    aspect-ratio: 90/100;
  }

  .card2, .card4 {
    order: 1;
  }

  .upper {
    display: flex;
    flex-flow: row wrap;
  }

  .leftF, .centerF, .rightF {
    display: flex;
    flex-wrap: nowrap;
    width: 33.3333%;
    align-items: center;
  }

  .leftF {
    justify-content: flex-start;
    padding-bottom: 8px;
  }

  .centerF {
    justify-content: center;
  }

  .rightF {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 900px) {
  a {
    padding: 12px 20px;
  }

  .left a {
    padding: 12px 20px 6px;
  }

  .Search {
    height: 70px;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .footer img {
    height: 40px;
    width: auto;
  }

  .rightF img {
    width: 24px;
    height: 24px;
  }
}
